.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
}

.logo-icon {
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container>button {
    height: 25px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.section-container {
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
}

.section-content-container {
    display: flex;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

img {
    border-radius: 5px 5px 0 0;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    transition: 0.3s;
    text-align: center;
    border-radius: 5px;
    background-color: #f1f1f1;
}